body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-text-color);
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body.no-scroll {
  overflow: hidden;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 479.98px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 767.98px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1199.98px) {
  .container {
    width: 1200px;
  }
}

.mobile-button__menu .icon-close {
  display: none;
}

.mobile-button__menu.is-open .icon-close {
  display: block;
}

.mobile-button__menu.is-open .icon-menu {
  display: none;
}

.site-header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: inline-block;
  padding: 24px 0;
}

.logo--studio-black {
  color: #212121;
  display: inline;
}

.mobile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  background-color: #ffffff;
}

.mobile-button__menu {
  z-index: 2;
  top: 10px;
  right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

@media screen and (min-width: 767.98px) {
  .mobile-button__menu {
    display: none;
  }
}

.nav-links {
  display: none;
}

@media screen and (min-width: 767.98px) {
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

.header-contacts {
  display: none;
}

@media screen and (min-width: 767.98px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}

@media screen and (min-width: 767.98px) and (min-width: 1199.98px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    margin-left: 305px;
    padding: 32px 0;
  }
}

@media screen and (min-width: 767.98px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-links__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-links__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: block;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-links__link:hover, .nav-links__link:focus {
    color: #2196f3;
  }
  .nav-links__link--current {
    color: #2196f3;
  }
  .nav-links__link--current::after {
    position: absolute;
    left: 0;
    bottom: -3px;
    content: "";
    display: block;
    background-color: #2196f3;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }
}

@media screen and (min-width: 767.98px) and (min-width: 1199.98px) {
  .nav-links__link--current::after {
    bottom: -1px;
  }
}

@media screen and (min-width: 767.98px) {
  .header-contacts__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 767.98px) and (min-width: 1199.98px) {
  .header-contacts__item:not(:last-child) {
    margin-right: 30px;
  }
  .header-contacts__item:first-child {
    margin-bottom: unset;
  }
}

@media screen and (min-width: 767.98px) {
  .header-contacts__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .header-contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #757575;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts__link:hover, .header-contacts__link:focus {
    color: #2196f3;
    path-fill: currentColor;
  }
  .link-1 {
    padding-top: 21px;
  }
}

@media screen and (min-width: 767.98px) and (min-width: 1199.98px) {
  .link-1 {
    padding-top: unset;
  }
}

@media screen and (min-width: 767.98px) {
  .link-2 {
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 767.98px) and (min-width: 1199.98px) {
  .link-2 {
    padding-bottom: unset;
  }
}

.mobile-menu {
  visibility: hidden;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 48px 40px;
  overflow: hidden;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  visibility: visible;
  display: block;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 767.98px) {
  .mobile-menu.is-open {
    display: none;
  }
}

.mobile-menu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.mobile-menu__block--contacts {
  margin-top: auto;
}

.nav-links-mobile {
  margin-bottom: 0;
}

.nav-links__item--mobile {
  margin-bottom: 32px;
}

.nav-links__link--mobile {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links__link--mobile:hover, .nav-links__link--mobile:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links__link--mobile--current {
  color: #2196f3;
}

.header-contacts__link--mobile {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
}

@media screen and (max-width: 479.98px) {
  .header-contacts__link--mobile {
    font-size: 8vw;
  }
}

.header-contacts__link--mail {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.mobile-menu__social-network--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-menu__social-network--item {
  padding: 0 10px;
}

.mobile-menu__social-network--item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-network--link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 118px 0;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), image-set(url("../images/index/hero-bg/hero-bg-mobile@1x.jpg") 1x, url("../images/index/hero-bg/hero-bg-mobile@2x.jpg") 2x);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../images/index/hero-bg/hero-bg-mobile@1x.jpg") 1x, url("../images/index/hero-bg/hero-bg-mobile@2x.jpg") 2x);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url("../images/index/hero-bg/hero-bg-mobile@1x.jpg") 1x, url("../images/index/hero-bg/hero-bg-mobile@2x.jpg") 2x);
}

@media screen and (min-width: 767.98px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), image-set(url("../images/index/hero-bg/hero-bg-tablet@1x.jpg") 1x, url("../images/index/hero-bg/hero-bg-tablet@2x.jpg") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../images/index/hero-bg/hero-bg-tablet@1x.jpg") 1x, url("../images/index/hero-bg/hero-bg-tablet@2x.jpg") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url("../images/index/hero-bg/hero-bg-tablet@1x.jpg") 1x, url("../images/index/hero-bg/hero-bg-tablet@2x.jpg") 2x);
  }
}

@media screen and (min-width: 1199.98px) {
  .hero {
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), image-set(url("../images/index/hero-bg/hero-bg-pc@1x.jpg") 1x, url("../images/index/hero-bg/hero-bg-pc@2x.jpg") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../images/index/hero-bg/hero-bg-pc@1x.jpg") 1x, url("../images/index/hero-bg/hero-bg-pc@2x.jpg") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url("../images/index/hero-bg/hero-bg-pc@1x.jpg") 1x, url("../images/index/hero-bg/hero-bg-pc@2x.jpg") 2x);
  }
}

.hero__title {
  margin-bottom: 40px;
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 479.98px) {
  .hero__title {
    font-size: 6vw;
  }
}

@media screen and (min-width: 1199.98px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.44;
  }
}

.hero__button {
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.87;
  padding: 10px 32px;
}

.benefits {
  padding: 60px 0;
}

@media screen and (min-width: 479.98px) {
  .benefits {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 767.98px) {
  .benefits {
    width: unset;
    margin: unset;
  }
}

@media screen and (min-width: 1199.98px) {
  .benefits {
    padding: 94px 0;
  }
}

.benefits__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.benefits__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 767.98px) {
  .benefits__text {
    display: block;
    max-width: 354px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

@media screen and (min-width: 1199.98px) {
  .benefits__text {
    display: block;
    max-width: 270px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

.benefits__icon-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: calc(100% - 2 * 15px);
      flex-basis: calc(100% - 2 * 15px);
  height: 120px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f4fa;
}

@media screen and (min-width: 767.98px) {
  .benefits__icon-area {
    width: 354px;
    height: 120px;
  }
}

@media screen and (min-width: 1199.98px) {
  .benefits__icon-area {
    width: 270px;
    height: 120px;
  }
}

@media screen and (min-width: 767.98px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
}

@media screen and (min-width: 767.98px) and (min-width: 1199.98px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.benefits__item {
  margin-bottom: 30px;
  display: block;
}

@media screen and (min-width: 767.98px) {
  .benefits__item {
    margin: 15px;
  }
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.images-samples {
  display: none;
}

@media screen and (min-width: 1199.98px) {
  .images-samples {
    display: block;
    font-weight: 700;
    font-size: 36;
    line-height: 1.17;
    padding-top: 0;
    padding-bottom: 94px;
  }
  .images-samples__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
  }
  .images-samples__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .images-samples__item:not(:last-child) {
    margin-right: 30px;
  }
  .images-samples__image {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .images-samples__thumb {
    position: relative;
  }
  .images-samples__text {
    position: absolute;
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 70px;
    width: 100%;
    bottom: 0;
    left: 0;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
  }
}

.our-team {
  padding: 60px 0;
  background-color: #f5f4fa;
}

.our-team__section-header {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 767.98px) {
  .our-team__section-header {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.our-team__list {
  text-align: center;
}

@media screen and (min-width: 767.98px) {
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1199.98px) {
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.our-team__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 767.98px) {
  .our-team__item {
    width: 354px;
    margin: 15px;
  }
  .our-team__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.padding-30 {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
}

.padding-30__header {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

@media screen and (min-width: 767.98px) {
  .padding-30__header {
    text-align: center;
  }
}

.padding-30__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

@media screen and (min-width: 767.98px) {
  .padding-30__text {
    text-align: center;
  }
}

.social-media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media__item {
  margin: 0 5px;
}

@media screen and (min-width: 767.98px) {
  .social-media__item:not(:last-child) {
    margin-right: 10px;
  }
}

.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 767.98px) {
  .social-media__link {
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-media__link:hover, .social-media__link:focus {
    background-color: #2196f3;
    border-radius: 50%;
  }
}

.social-media__icon {
  fill: #afb1b8;
}

@media screen and (min-width: 767.98px) {
  .social-media__icon {
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-media__link:hover .social-media__icon,
  .social-media__link:focus .social-media__icon {
    fill: #ffffff;
  }
}

@media screen and (min-width: 1199.98px) {
  .our-team {
    padding: 94px 0;
  }
}

.padding-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.partners {
  padding: 60px 0;
}

.partners__list-header {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 45px;
}

.partners__list {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__item {
  margin: 15px;
}

.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  width: 210px;
  border: #afb1b8 1px solid;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link:hover, .partners__link:focus {
  border: #2196f3 1px solid;
  outline-width: 0;
}

@media screen and (min-width: 767.98px) {
  .partners__link {
    width: 226px;
  }
}

@media screen and (min-width: 1199.98px) {
  .partners__link {
    width: 170px;
  }
}

.partners__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link:hover .partners__icon,
.partners__link:focus .partners__icon {
  fill: #2196f3;
}

@media screen and (min-width: 1199.98px) {
  .partners {
    padding: 94px 0;
  }
  .partners__list-header {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .partners__list {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partners__item {
    margin: 0;
  }
  .partners__item:not(:last-child) {
    margin-right: 30px;
  }
  .partners__link {
    width: 170px;
  }
}

.footer {
  background-color: #2f303a;
  text-align: center;
  padding: 60px 0;
}

@media screen and (min-width: 767.98px) {
  .footer {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1199.98px) {
  .footer {
    padding: 60px 0;
    text-align: left;
  }
}

.studio-white {
  display: inline-block;
  color: #ffffff;
}

.logo-footer {
  margin-bottom: 20px;
  padding: unset;
}

@media screen and (max-width: 767.98px) {
  .adress__list {
    margin-bottom: 60px;
  }
}

.adress__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
}

.adress__link:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 767.98px) {
  .adress__link {
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adress__link:hover, .adress__link:focus {
    color: #2196f3;
  }
}

.opacity-60 {
  opacity: 0.6;
}

.social-media__title--footer {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (min-width: 767.98px) {
  .social-media__title--footer {
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.social-media__list--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media__list--footer:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 767.98px) {
  .social-media__list--footer {
    margin-bottom: 0;
  }
}

.social-media__item--footer {
  margin-right: 10px;
}

.tablet-footer {
  margin-bottom: 60px;
}

@media screen and (min-width: 767.98px) {
  .tablet-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 767.98px) and (min-width: 1199.98px) {
  .tablet-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
    margin-bottom: 0;
  }
}

.social-media__link--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

@media screen and (min-width: 767.98px) {
  .social-media__link--footer {
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-media__link--footer:hover, .social-media__link--footer:focus {
    background-color: #2196f3;
  }
}

.social-media__icon--footer {
  fill: #ffffff;
}

.footer-form__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-email__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1199.98px) {
  .footer-email__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-email__input {
  display: inline-block;
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding: 15px 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-bottom: 20px;
  color: #ffffff;
  outline-width: 0;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email__input:hover, .footer-email__input:focus {
  border-color: #2196f3;
}

@media screen and (min-width: 767.98px) {
  .footer-email__input {
    margin-right: 0;
    font-size: 14px;
  }
}

@media screen and (min-width: 1199.98px) {
  .footer-email__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer-email__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 1199.98px) {
  .footer-email__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #2196f3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

.footer-email__text {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin-right: 10px;
}

.footer-email__icon {
  fill: #ffffff;
}

.adress {
  font-style: normal;
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (min-width: 1199.98px) {
  .footer-block {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-block__1 {
    margin-right: 70px;
  }
  .footer-block__form {
    margin-left: auto;
  }
}

.backdrop {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  -webkit-transform: translateY(-500%);
          transform: translateY(-500%);
  pointer-events: none;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  overflow-y: auto;
  position: absolute;
  width: 98%;
  height: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 4px;
}

@media screen and (min-width: 479.98px) {
  .modal {
    width: 450px;
    height: 610px;
  }
}

@media screen and (min-width: 1199.98px) {
  .modal {
    overflow-y: hidden;
    width: 528px;
    height: 581px;
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #0000001a;
  border-radius: 50%;
  outline-width: 0;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover, .modal__close-button:focus {
  border-color: #2196f3;
}

.modal__close-icon {
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover .modal__close-icon,
.modal__close-button:focus .modal__close-icon {
  fill: #2196f3;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (max-width: 479.98px) {
  .form__title {
    font-size: 5vw;
  }
}

.form__label {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.user-name-div {
  position: relative;
  margin-bottom: 10px;
}

.form__input {
  padding: 12px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus {
  outline-width: 0;
  border-color: #2196f3;
}

.form__icon {
  position: absolute;
  top: 12px;
  left: 6px;
  fill: #212121;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__area {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  outline-width: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__area:hover, .form__area:focus {
  outline-width: 0;
  border-color: #2196f3;
}

.form__area::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: #757575;
  letter-spacing: 0.01em;
}

.form__area:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: #757575;
  letter-spacing: 0.01em;
}

.form__area::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: #757575;
  letter-spacing: 0.01em;
}

.form__area::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: #757575;
  letter-spacing: 0.01em;
}

.form__checkbox-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.form__checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

.form__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  /* display: none; */
}

.form__checkbox-icon {
  width: 16px;
  height: 15px;
  margin-right: 10px;
  background: #ffffff;
  border: 2px solid #212121;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479.98px) {
  .form__checkbox-icon {
    width: 21px;
  }
}

.form__checkbox-input:focus + .form__checkbox-icon {
  border: 2px solid #2196f3;
}

.form__checkbox-input:checked + .form__checkbox-icon {
  background-color: #2196f3;
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  border: 2px solid #2196f3;
}

.form__contract-link:visited,
.form__contract-link:active,
.form__contract-link:link {
  color: #2196f3;
}

.form__submit-bottom {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.selector {
  padding: 60px 0;
}

@media screen and (min-width: 1199.98px) {
  .selector {
    padding: 94px 0;
  }
}

.selector__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

@media screen and (min-width: 767.98px) {
  .selector__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1199.98px) {
  .selector__list {
    margin-bottom: 50px;
  }
}

.selector__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 767.98px) {
  .selector__item {
    margin-bottom: 0;
  }
}

.selector__button {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.62;
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.selector__button:hover, .selector__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.selector__button--all {
  color: #ffffff;
  background-color: #2196f3;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 767.98px) {
  .grid {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

@media screen and (min-width: 1199.98px) {
  .grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.grid__item {
  width: 450px;
}

.grid__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 767.98px) {
  .grid__item {
    -ms-flex-preferred-size: calc(100% / 2 - 2 * 15px);
        flex-basis: calc(100% / 2 - 2 * 15px);
    margin: 15px;
  }
  .grid__item:not(:last-child) {
    margin-bottom: unset;
  }
}

@media screen and (min-width: 1199.98px) {
  .grid__item {
    -ms-flex-preferred-size: calc(100% / 3 - 2 * 15px);
        flex-basis: calc(100% / 3 - 2 * 15px);
  }
}

.grid__image {
  width: 300px;
}

@media screen and (min-width: 479.98px) {
  .grid__image {
    width: 450px;
  }
}

@media screen and (min-width: 767.98px) {
  .grid__image {
    width: 354px;
  }
}

@media screen and (min-width: 1199.98px) {
  .grid__image {
    width: 370px;
  }
}

.grid__image-thumb {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.grid__link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__link:hover, .grid__link:focus {
  outline-width: 0;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.grid__padding-20 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.grid__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  margin-bottom: 4px;
}

.grid__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.grid__overflow {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  height: 100%;
  width: 100%;
  padding-top: 49px;
  padding-bottom: 77px;
  padding-left: 24px;
  padding-right: 24px;
  overflow-y: auto;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__link:hover .grid__overflow,
.grid__link:focus .grid__overflow {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1199.98px) {
  .grid__overflow {
    padding: 63px 24px;
  }
}
/*# sourceMappingURL=main.css.map */