$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-text-color: #2196f3;
$white-color: #ffffff;
$background-color-number-two: #2f303a;
$icon-color-one: #afb1b8;
$icon-color-two: #f5f4fa;
$border-color-one: #eeeeee;
$standart-transition-time: 250ms;
$standart-transition-style: cubic-bezier(0.4, 0, 0.2, 1);
$mobile: 479.98 + px;
$tablet: 767.98 + px;
$pc: 1199.98 + px;

body {
  background-color: $white-color;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-text-color);
  // min-width: 320px;
  &.modal-open {
    overflow: hidden;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body.no-scroll {
  overflow: hidden;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and (min-width: $mobile) {
    width: 450px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
  }
  @media screen and (min-width: $pc) {
    width: 1200px;
  }
}
