$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-text-color: #2196f3;
$white-color: #ffffff;
$background-color-number-two: #2f303a;
$icon-color-one: #afb1b8;
$standart-transition-time: 250ms;
$standart-transition-style: cubic-bezier(0.4, 0, 0.2, 1);

body {
  background-color: $white-color;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-text-color);
}

button {
  cursor: pointer;
  border: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
