.benefits {
  padding: 60px 0;
  @media screen and (min-width: $mobile) {
    width: 450px;
    margin: 0 auto;
  }
  @media screen and (min-width: $tablet) {
    width: unset;
    margin: unset;
  }

  @media screen and (min-width: $pc) {
    padding: 94px 0;
  }
}

.benefits__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.benefits__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-text-color;

  @media screen and (min-width: $tablet) {
    display: block;
    max-width: 354px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
  @media screen and (min-width: $pc) {
    display: block;
    max-width: 270px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
}

.benefits__icon-area {
  // padding: 25px 0;
  display: flex;
  align-items: center;
  flex-basis: calc(100% - 2 * 15px);
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  background-color: $icon-color-two;
  @media screen and (min-width: $tablet) {
    width: 354px;
    height: 120px;
  }
  @media screen and (min-width: $pc) {
    width: 270px;
    height: 120px;
  }
}

@media screen and (min-width: $tablet) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: -15px;
    @media screen and (min-width: $pc) {
      display: flex;
      flex-wrap: nowrap;
      align-content: center;
    }
  }
}

.benefits__item {
  margin-bottom: 30px;
  display: block;

  @media screen and (min-width: $tablet) {
    margin: 15px;
  }
}

.benefits__icon {
  width: 70px;
  height: 70px;
}
