.mobile-button__menu {
  display: none;
}

.main-nav {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: $accent-text-color;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: inline-block;
}

.logo--studio-black {
  color: $primary-text-color;
  display: inline;
}

@media screen and (max-width: $mobile) {
  .mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: $white-color;
  }
  .mobile-button__menu {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 15px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  .nav-links {
    display: none;
  }

  .header-contacts {
    display: none;
  }

  .mobile-button__menu .icon-close {
    display: none;
  }

  .mobile-button__menu.is-open .icon-close {
    display: block;
  }

  .mobile-button__menu.is-open .icon-menu {
    display: none;
  }
}
