.site-header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: $accent-text-color;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: inline-block;
  padding: 24px 0;
}

.logo--studio-black {
  color: $primary-text-color;
  display: inline;
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: $white-color;
}
.mobile-button__menu {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.nav-links {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 88px;
  }
}
.header-contacts {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    margin-left: auto;
    padding: 21px 0;
    @media screen and (min-width: $pc) {
      display: flex;
      margin-left: 305px;
      padding: 32px 0;
    }
  }
}
.mobile-button__menu .icon-close {
  display: none;
}
.mobile-button__menu.is-open .icon-close {
  display: block;
}
.mobile-button__menu.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: $tablet) {
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }

  .nav-links__item:not(:last-child) {
    margin-right: 50px;
  }

  .nav-links__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $primary-text-color;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: block;
    transition: color $standart-transition-time $standart-transition-style;
    &:hover,
    &:focus {
      color: $accent-text-color;
    }
  }

  .nav-links__link--current {
    color: $accent-text-color;
    &::after {
      position: absolute;
      left: 0;
      bottom: -1px;
      content: "";
      display: block;
      background-color: $accent-text-color;
      border-radius: 2px;
      width: 100%;
      height: 4px;
    }
  }

  .header-contacts__item:first-child {
    margin-bottom: 10px;
    @media screen and (min-width: $pc) {
      &:not(:last-child) {
        margin-right: 30px;
      }

      &:first-child {
        margin-bottom: 0;
      }
    }
  }

  .header-contacts__icon {
    margin-right: 10px;
    fill: currentColor;
    .header-contacts__link:hover &,
    .header-contacts__link:focus & {
      fill: currentColor;
    }
  }

  .header-contacts__link {
    display: flex;
    align-items: center;
    color: $secondary-text-color;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color $standart-transition-time $standart-transition-style;
    &:hover,
    &:focus {
      color: $accent-text-color;
    }
  }
}
