@media screen and (max-width: $mobile) {
  .hero {
    text-align: center;
    padding: 118px 60px;
    margin-bottom: 30px;
    background-color: $background-color-number-two;
  }

  .hero__title {
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 900;
    font-size: 20px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .hero__button {
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: $white-color;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.87;
    padding: 10px 32px;
  }
}
