.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: $accent-text-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
  /* background-color: lightcoral */
  display: block;
  // width: 145px;
}

.logo--studio-black {
  color: $primary-text-color;
  display: inline;
}
.studio-white {
  color: $white-color;
  display: inline;
}

.logo-footer {
  // display: block;
  margin-bottom: 20px;
  padding: 0;
}
