.mobile-menu {
  visibility: hidden;
  position: absolute;
  background-color: $white-color;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 48px 40px;
  overflow: hidden;
  transform: translateY(-101%);
  transition: transform $standart-transition-time $standart-transition-style,
    visibility $standart-transition-time $standart-transition-style;

  &.is-open {
    visibility: visible;
    display: block;
    transform: translateY(0);

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    height: 100%;

    &--contacts {
      margin-top: auto;
    }
  }
}
.nav-links-mobile {
  margin-bottom: 0;
}

.nav-links__item--mobile {
  margin-bottom: 32px;
}

.nav-links__link--mobile {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  transition: color $standart-transition-time $standart-transition-style;

  &:hover,
  &:focus {
    color: $accent-text-color;
    transition: color $standart-transition-time $standart-transition-style;
  }

  &--current {
    color: $accent-text-color;
  }
}

.header-contacts__link--mobile {
  @media screen and (max-width: $mobile) {
    font-size: 8vw;
  }
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $accent-text-color;
  margin-bottom: 32px;
}

.header-contacts__link--mail {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  margin-bottom: 64px;
}

.mobile-menu__social-network--list {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  flex-wrap: wrap;
}

.mobile-menu__social-network--link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  color: $accent-text-color;
}

.mobile-menu__divider {
  margin: 0 10px;
  font-size: 22px;
  line-height: 1;
  color: $secondary-text-color;
  opacity: 0.2;
}
