.mobile-menu {
  display: none;
  position: absolute;
  background-color: $white-color;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 48px 40px;
  overflow-y: scroll;

  &.is-open {
    display: block;
  }
}
.nav-links-mobile {
  margin-bottom: 0;
  // 302
}
.nav-links__item--mobile:not(:last-child) {
  margin-bottom: 32px;
}

.nav-links__link--mobile {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $primary-text-color;
  &--current {
    color: $accent-text-color;
  }
}

.header-contacts__link--mobile {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $accent-text-color;

  margin-bottom: 32px;
}

.header-contacts__link--mail {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: $secondary-text-color;

  margin-bottom: 64px;
}

.mobile-menu__social-network--list {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  flex-wrap: wrap;
}

.mobile-menu__social-network--link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  color: $accent-text-color;
}

.mobile-menu__divider {
  font-size: 22px;
  line-height: 1;
  color: $secondary-text-color;
  opacity: 0.2;
}

@media screen and (min-width: $tablet) {
  .mobile-menu {
    display: none;
  }
}
