@media screen and (max-width: $mobile) {
  .partners {
    padding: 60px 0;
  }
  .partners__list-header {
    text-align: center;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $primary-text-color;

    margin-bottom: 45px;
  }

  .partners__list {
    margin: -30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .partners__item {
    margin: 15px;
  }
  .partners__link {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 92px;
    width: 210px;

    border: $icon-color-one 1px solid;
    border-radius: 4px;

    transition: border $standart-transition-time $standart-transition-style;

    &:hover,
    &:focus {
      border: $accent-text-color 1px solid;
      outline-width: 0;
    }
  }

  .partners__icon {
    fill: $icon-color-one;
    .partners__link:hover &,
    .partners__link:focus & {
      fill: $accent-text-color;
    }
    transition: fill $standart-transition-time $standart-transition-style;
  }
}
