.selector {
  padding-top: 60px;
  padding-bottom: 60px;
}

.selector__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }
}

.selector__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.selector__button {
  color: $primary-text-color;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.62;
  padding: 6px 22px;
  background-color: $icon-color-two;
  border-radius: 4px;
  transition: background-color $standart-transition-time
      $standart-transition-style,
    color $standart-transition-time $standart-transition-style;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-text-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.selector__button--all {
  color: $white-color;
  background-color: $accent-text-color;
}

.grid {
  display: flex;
  flex-direction: column;
  margin: -15px;
  margin: 0 auto;
  align-items: center;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: $pc) {
    justify-content: center;
  }
}

.grid__item {
  margin: 15px;
  max-width: 450px;
  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 2 - 2 * 15px);
    width: 354px;
  }
  @media screen and (min-width: $pc) {
    flex-basis: calc(100% / 3 - 2 * 15px);
    width: 370px;
  }
}

.grid__image-thumb {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.grid__link {
  display: block;
  text-decoration: none;
  transition: box-shadow $standart-transition-time $standart-transition-style;
  &:hover,
  &:focus {
    outline-width: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.grid__padding-20 {
  padding: 20px 24px;
  border-bottom: 1px solid $border-color-one;
  border-left: 1px solid $border-color-one;
  border-right: 1px solid $border-color-one;
}

.grid__title {
  color: $primary-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  margin-bottom: 4px;
}

.grid__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: $secondary-text-color;
}

.grid__overflow {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  height: 100%;
  width: 100%;
  padding-top: 49px;
  padding-bottom: 77px;
  padding-left: 24px;
  padding-right: 24px;

  color: $white-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform $standart-transition-time $standart-transition-style;
  transition: transform $standart-transition-time $standart-transition-style;

  .grid__link:hover &,
  .grid__link:focus & {
    transform: translateY(0);
    transition: transform $standart-transition-time $standart-transition-style;
    transition: transform $standart-transition-time $standart-transition-style;
  }
  @media screen and (min-width: $pc) {
    padding: 63px 24px;
  }
}
